/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

* {
  margin: 0;
  padding: 0;
}
.text-indigo {
  color: var(--indigo);
}
.text-purple {
  color: var(--purple);
}
.text-orange {
  color: var(--orange);
}
.text-teal {
  color: var(--teal);
}
.text-pink {
  color: var(--pink);
}

.bg-indigo {
  background-color: var(--indigo);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-teal {
  background-color: var(--teal);
}
.bg-pink {
  background-color: var(--pink);
}

.uLine {
  background: var(--purple);
  width: 10rem;
  height: 0.2rem;
}

.center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  font-family: "panton_semibold";
}
#pageWrap {
  overflow: hidden;
  padding: 0 !important;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

section {
  overflow: hidden;
}

/* home page CSS */
.ourClient .row div img {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ourClient .row div img:hover {
  -webkit-box-shadow: 0 0 1rem rgba(87, 163, 219, 1);
  box-shadow: 0 0 1rem rgba(87, 163, 219, 1);
}
.shadow-sk {
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.05),
    0 0 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.05),
    0 0 1rem rgba(0, 0, 0, 0.15);
}
.roundedImgBox {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /*margin-bottom: 1rem;*/
  margin-left: auto;
  margin-right: auto;
  padding: 1.1rem;
}
/*
.whyChoose .row div {
  -webkit-transition: background 1s;
  transition: background 1s;
}
.whyChoose .row div:hover div,
.whyChoose .row div:active div {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background:#fff !important;
}
.whyChoose .row div:hover .roundedImgBox,
.whyChoose .row div:active .roundedImgBox {
  -webkit-box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.35);
  border-color:#8cf;
  padding: 0.9rem;
}*/
.roundedImgBox img {
  width: 100%;
  /*filter:grayscale(100%);*/
  -webkit-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}

.ourAchiev .row div {
  padding: 1rem;
}

/* common page CSS */
.banner {
  width: 100%;
  min-height: 300px;
  height: 30vh;
  max-height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./src/img/web/gallery-banner-image.jpg") center/100% 100% no-repeat;
}

/* about page CSS */
.founder-img {
  max-width: 300px;
}
.founder-img img {
  width: 100%;
}

/* galary page css*/
gallery .row div {
  margin-top: 25px;
}
.gallery .row img {
  width: 100%;
  position: relative;
}

/* contact page CSS */
.social-link {
  list-style: none;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.social-icon i {
  font-size: 1.3rem;
  line-height: 40px;
}
.social-link a {
  color: #000;
}
.social-icon:active a {
  color: #007bff;
  text-decoration: none;
}
